[submodule "RTIMULib2"]
	path = RTIMULib2
	url = https://github.com/RTIMULib/RTIMULib2

[submodule "i2c"]
	path = i2c
	url = https://github.com/mey0kilow/i2c
[submodule "PCA9685"]
	path = PCA9685
	url = https://github.com/lcthums/PCA9685
